page-view-tournament {
    h4{
        font-weight: bold !important;
        font-size: 1.5rem !important;
    }
    p{
        padding-left: 15px;
    }
    #map_tournament{
        margin-top: 15px;
    }
    ion-slides{
        margin-bottom: 15px;
        .slide-zoom{
            height: 100px !important;
            display: flex !important;
            justify-content: center !important;
        }
    }

    .toolbar-background {
        background: #000000 !important;
    }
    ion-content {
        background: #eae5e5 !important;
        .scroll-content {
            margin-top: 60px !important;
        }
    }
    .toolbar-ios ion-title {
        padding: 0 50px 1px !important;
        padding-top: 30px !important;
    }
    ion-navbar {
        padding-top: 20px !important;
        min-height: 60px !important; 
        height: 60px !important;
        button {
            color: #bea805 !important;
           ion-icon{
            color: #bea805 !important; 
           }
        }
        ion-title {
            .toolbar-title-ios,
            .toolbar-title-md {
                color: #fff;
            }
        }
        .text-btn {
            border: none !important;
            color: #fff !important;
            text-transform: uppercase;
            padding-right: 25px;
            letter-spacing: 1px;
        }
    }

    ion-fab{
        button{
            color: #2e363d !important;
            background-color: #bea805 !important;
            font-weight: 500;
        }
    }
}
