page-view-tournament {
    h4{
        font-weight: bold !important;
        font-size: 1.5rem !important;
    }
    p{
        padding-left: 15px;
    }
    #map_tournament{
        margin-top: 15px;
    }
    ion-slides{
        margin-bottom: 15px;
        .slide-zoom{
            height: 100px !important;
            display: flex !important;
            justify-content: center !important;
        }
    }
}
