<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row padding>
      <ion-col col-12>
        <div class="image-holder">
          <img [src]="profileImg" alt="">
        </div>
        <p class="title-name">{{fullName}}</p>
        <p class="location">
          <ion-icon name="ios-pin"></ion-icon> {{location}}
        </p>
        <!-- <p class="location">
          <ion-icon name="ios-at"></ion-icon>{{email}}
        </p> -->
        <p class="location">
          <ion-icon name="ios-star"></ion-icon>{{formatNumber(rank)}}
        </p>
        <p>
          <button ion-button full icon-start (click)="toChatView()">
            <ion-icon name="ios-chatboxes-outline"></ion-icon> Send message
          </button>
        </p>
        <p *ngIf="!isFriend&&sendRequestAllow()===true">
          <button ion-button full icon-start (click)="addFriend()">
            Add Friend
          </button>
        </p>
        <!-- <p *ngIf="isFriend">
          <button ion-button full icon-start (click)="addFriend()">
            Add Friend
          </button>
        </p> -->
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>