<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button style="color: white;" (click)="toHome()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        &nbsp;&nbsp;
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
        Home
      </button>
    </ion-buttons>
    <img id="logo-navbar" src="./assets/imgs/logo-pickle.png">
  </ion-navbar>

</ion-header>


<ion-content>

  <div ion-fixed class="back-banner">
    <button ion-button style="color: white !important; font-size: 1.5rem;
      font-weight: normal; background-color: #999999;" (click)="viewCtrl.dismiss()">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      &nbsp;&nbsp; Chats
      <!-- <ion-icon name="arrow-back"></ion-icon> -->
    </button>
    <ion-row>
      <ion-col col-12 style="display: flex; justify-content: center;">
        <img class="nav-avatar" [src]="photo" (error)="errorImage($event)">
      </ion-col>
      <ion-col>
        <ion-title style="text-align: center;">{{to.fullName}}</ion-title>
      </ion-col>
    </ion-row>
  </div>

  <div #content class="message-wrap">
    <div id="loadtoUp" *ngIf="loadingChats">
      <ion-spinner></ion-spinner>
    </div>
    <div *ngFor="let msg of msgList; let i = index; trackBy: customTrackBy" class="message" (click)="showIfImage(msg)"
      [class.left]=" msg.from.id !== user.id " [class.right]=" msg.from.id === user.id " [class.success]="msg.view>=3">
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <!-- <p>&nbsp;&nbsp;&nbsp;{{msg.dateTime | relativeTime}}</p> -->
          <p>&nbsp;&nbsp;&nbsp;</p>
        </div>
        <div class="msg-content">
          <p class="line-breaker">{{msg.message}}</p>
        </div>

      </div>
    </div>

  </div>

</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <ion-grid class="input-wrap">
    <ion-row>
      <!-- <ion-col col-1>
        <button ion-button clear icon-only item-right (click)="sendMgsWitImage()">
          <ion-icon name="ios-camera-outline"></ion-icon>
        </button>
      </ion-col> -->
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
          <ion-icon name="md-happy"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-8>
        <ion-textarea #chat_input placeholder="Text Input" [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()"
          (ionFocus)="onFocus()">
        </ion-textarea>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only item-right (click)="sendMsg()">
          <ion-icon name="ios-paper-plane-outline"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <emoji-picker *ngIf="showEmojiPicker" [(ngModel)]="editorMsg"></emoji-picker>
</ion-footer>