page-filter {
    .toolbar-background {
        background-color: black !important;
    }
    .toolbar-title {
        color: white !important;
        text-align: center !important;
        text-transform: uppercase !important;
    }
    .scroll-content {
        // background-image: linear-gradient(#cccccc, #999999, #666666, #333366, #333333) !important;
        background-color:  #82a1b1;
    }
    ion-item {
        background-color: transparent !important;
        ion-label {
            font-weight: bold !important;
        }
    }
    ion-checkbox {
        margin-right: 10px !important;
    }
    h3 {
        margin: 30px 0 0 0;
        padding-left: 24px;
        padding-right: 16px;
        font-size: 1.7rem;
        font-weight: bold;
    }
    .checkbox-icon {
        border-color: #7dff2f !important;
        background-color: #7dff2f !important;
    }
    .radio-icon{
        border-color: #7dff2f !important;
    }
    .item-inner {
        border-bottom-width: 0 !important;
    }
    .range-bar {
        height: 5px !important;
    }
    .range-bar {
        background-color: black !important;
    }
    .range-knob {
        width: 20px !important;
        height: 20px !important;
    }
    .ranges {
        display: flex;
        justify-content: space-between;
        padding-left: 24px;
        padding-right: 16px;
    }
    #filter-tournamets {
        margin-top: 20px;
        padding-left: 24px;
        padding-right: 16px;
        h2 {
            font-size: 1.7rem;
            font-weight: bold;
        }
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            span {
                width: 100%;
                flex-basis: 100%;
            }
            button {
                background-color: white !important;
            }
        }
    }
    #search-from {
        margin-top: 30px;
        padding-left: 24px;
        padding-right: 16px;
        h2,
        h3 {
            margin: 0;
        }
        h2 {
            font-size: 1.7rem;
        }
        h3 {
            font-size: 1.3rem;
        }
        ion-item {
            padding: 0;
            ion-radio {
                order: -1;
            }
            .checkbox-icon {
                border-radius: 50% !important;
            }
            ion-label {
                font-size: 1.3rem;
            }
        }
        #input-location-address input {
            background-color: white;
            margin: 0;
            margin-top: 5px;
            padding: 5px 10px;
        }
    }
    #actions-filter {
        margin-top: 30px;
        padding-left: 24px;
        padding-right: 16px;
        display: flex;
        justify-content: space-between;
    }
}