<ion-header>

  <ion-navbar>
    <ion-buttons start style="order: 1">
      <button ion-button icon-only>
        <ion-icon name="ios-person-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>PickleConnect</ion-title>
    <ion-buttons end>
      <button class="text-btn" ion-button clear>
        Filter
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-slides id="slides-types" slidesPerView="3">
    <ion-slide>
      <h4 [ngClass]="type===1?'select':''" (click)="setType(1)">All</h4>
    </ion-slide>
    <ion-slide>
      <h4 [ngClass]="type===3?'select':''" (click)="setType(3)">Courts</h4>
    </ion-slide>
    <ion-slide>
      <h4 [ngClass]="type===2?'select':''" (click)="setType(2)">Player</h4>
    </ion-slide>
    <ion-slide>
      <h4 [ngClass]="type===4?'select':''" (click)="setType(4)">Tournaments</h4>
    </ion-slide>
  </ion-slides>

  <!-- PARA BUSCAR TORNEOS -->
  <ion-searchbar [hidden]="type!==4" (ionInput)="buscarTorneo()" [(ngModel)]="torneoName" (ionCancel)="cancelBuscarTorneo()"
    showCancelButton="true"></ion-searchbar>

  <ion-row [hidden]="type!==4" padding>
    <ion-list>
      <div *ngIf="tournaments.length > 0">
        <ion-item>
          <p class="list-title">Results for {{torneoName}} in Tournaments</p>
        </ion-item>

        <ion-item *ngFor="let tour of tournaments">
          <ion-avatar item-start *ngIf="tour.imgs" (click)="toTournamen(tour)">
            <img [src]="tour.imgs[0]" style="width: 70px; height: 70px;">
          </ion-avatar>
          <button style="background: none;" (click)="toTournamen(tour)">
            <h2 text-wrap>{{tour.title}}</h2>
          </button>
          <button ion-button item-end class="button-save-tournament" (click)="addOrRemove(tour, saved(tour))">{{saved(tour)===true?'Remove':'Save'}}</button>
          <!-- <button [disabled]="disable" *ngIf="p._id != userID" ion-button item-end [innerHtml]="p.requests != '' ? 'Cancel Request' : 'Add Friend' "
            (click)="checkFriendRequest(p, $event)"></button> -->
        </ion-item>
      </div>


    </ion-list>
  </ion-row>

  <!-- PARA BUSCAR PLAYER -->
  <ion-searchbar [hidden]="type!==2" (input)="onSearchInput()" [(ngModel)]="searchTerm" [formControl]="searchControl"
    [showCancelButton]="true" (ionCancel)="cancel()"></ion-searchbar>

  <ion-row [hidden]="type!==2" *ngIf="searching" padding>
    <ion-list>
      <div class="flex-center" *ngIf="players.length < 1">
        <p>Sorry, no results matched your criteria</p>
      </div>
      <div *ngIf="players.length > 0">
        <ion-item>
          <p class="list-title">Results for {{searchTerm}} in Players</p>
        </ion-item>

        <ion-item *ngFor="let p of players" [hidden]="p._id===userID">
          <ion-avatar item-start>
            <img [src]="getUrlImage(p)" (error)="errorImage($event)" style="width: 70px; height: 70px;">
          </ion-avatar>
          <h2 text-wrap>{{p.fullName}}</h2>
          <p>Skill Level: {{p.rank}}</p>
          <p *ngIf="p.courts.length!==0">{{p.courts[0].name}}</p>
          <button [disabled]="disable" *ngIf="isFriend(p)" ion-button item-end [innerHtml]="sendRequestAllow(p) === true ? 'Add Friend': 'Cancel Request' "
            (click)="checkFriendRequest(p, $event)"></button>
        </ion-item>
      </div>


    </ion-list>
  </ion-row>

  <!-- PARA BUSCAR COURTS IN MAP -->
  <ion-searchbar id="search-courts-input" [hidden]="type===2||type===4" type="text" [(ngModel)]="search"
    showCancelButton="true">
  </ion-searchbar>
  <div [hidden]="type===2||type===4" id="map_places" style="width: 100%; height: 300px">
  </div>
  <div class="nearby-bg">
    <div id="title-nearby-courts" [hidden]="type===2||type===4">
      <h4>Nearby Courts</h4>
    </div>
    <ion-slides [hidden]="type===2||type===4" id="courts" slidesPerView="1.5">
      <ion-slide *ngFor="let court of courst" (click)="toCourtSlide(court)">
        <button ion-button class="button-save" (click)="saveCourt(court)" [hidden]="isSavedCourt(court).saved">Save</button>
        <button ion-button class="button-save" [ngClass]="isSavedCourt(court).saved===true?'remove':''" (click)="removeCourt(court)"
          [hidden]="!isSavedCourt(court).saved">Remove</button>
        <div class="inner-content">
          <img [hidden]="!court.loadImage" *ngIf="court.photos&&court.photos.length>0" (load)="loadImage(court)" [src]="court.photos[0]">
          <img [hidden]="court.loadImage" src="./assets/imgs/court-sport-default.jpg">
          <div class="inner">
            <div class="header">
              <h4 class="court-name">{{court.name}}</h4>
              <!-- <div>
              <h4 style="text-align: right;" *ngIf="court.rating">Rating: {{court.rating}}</h4>
            </div> -->
            </div>
            <div class="body">
              <p>
                <ion-icon name="ios-pin"></ion-icon> {{court.location}}
              </p>
              <!-- <ion-list id="users-courts">
              <ion-item *ngFor="let puser of court.users">{{puser.fullName}} - Kill Level: {{puser.rank}}</ion-item>
            </ion-list> -->
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>