page-home {
    .home{
        height: 50px;
        width: 100%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;    
        img{
            height: auto;
            width: 200px;
        }
    }
    .home-hero {
        @media (min-width: 300px) {
            height: 170px;
        }
        @media (min-width:450px) {
            height: 220px;
        }
        @media (min-width:550px) {
            height: 270px;
        }
        @media (min-width:650px) {
            height: 320px;
        }
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        div.overlay {
            position: relative;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, .4);
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-wrap: wrap;
            border-bottom: 2px solid black;
            .actions {
                width: 100%;
                flex-basis: 100%;
                text-align: center;
                h1 {
                    color: white !important;
                    width: 95%;
                    flex-basis: 95%;
                    text-align: left !important;
                    margin-left: 5%;
                    margin-bottom: .2rem;
                    font-size: 3rem !important;
                    text-transform: uppercase !important;
                }
                button {
                    width: 95%;
                    flex-basis: 95%;
                    background-color: #66ff00;
                    color: black;
                    font-weight: bold;
                    font-size: 1.7rem;
                    padding: 2rem 0;
                }
            }
        }
    }
    .home-hero.main {
        @media (min-width: 300px) {
            height: 200px;
        }
        @media (min-width:450px) {
            height: 250px;
        }
        @media (min-width:550px) {
            height: 300px;
        }
        @media (min-width:650px) {
            height: 350px;
        }
    }
}