page-select-users {
    .toolbar-background {
        background-color: black !important;
    }
    ion-header {
        .toolbar-title,
        button {
            color: #bea805 !important;
        }
    }
    ion-segment {
        background-color: black !important;
        ion-segment-button {
            color: #bea805 !important;
            height: 60px !important;
        }
        .segment-button.segment-activated {
            border-color: #bea805 !important;
        }
    }
    ion-fab {
        button {
            background-color: black !important;
            ion-icon {
                color: #bea805 !important;
            }
        }
    }
    .scroll-content {
        margin-top: 110px !important;
    }
}