<ion-header>

  <ion-navbar>
    <ion-title>Friend List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users" (click)="toChat(user)">
      <ion-avatar item-start *ngIf="user.photo!==''">
        <img [src]="user.photo">
      </ion-avatar>
      {{user.fullName}}
    </ion-item>
  </ion-list>

  <ion-fab bottom right>
      <button class="button-save" ion-fab icon-only (click)="addChat()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>