<ion-header>

  <ion-navbar>
    <ion-title>Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <ion-item>
      <h2>{{court.name}}</h2>
      <p>{{court.location}}</p>
      <a target="_blank" href="https://www.google.com/maps/@{{court.lat}},{{court.lng}},15z">Directions</a>
    </ion-item>

    <ion-slides slidesPerView="1" autoplay="true" loop="3000" pager="true" [hidden]="!court.photos">
      <ion-slide *ngFor="let img of court.photos">
        <img [src]="img">
      </ion-slide>
    </ion-slides>

    <ion-item>
      <h4>Rating</h4>
      <p>{{court.rating}}</p>
    </ion-item>

    <div id="map_court" style="width: 100%; height: 300px;"></div>

  </ion-card>

  <ion-list id="users-courts">
    <ion-item *ngFor="let skill of orderXSkill">Skill Level: {{skill.skill}} - {{skill.users.length}} Players</ion-item>
  </ion-list>

  <ion-fab bottom right>
    <button ion-fab icon-only [style.backgroundColor]="isSavedCourt(court).saved===false?'#488aff':'#f53d3d'" (click)="saveOrRemove()">
      <!-- <ion-icon name="md-add"></ion-icon> -->
      {{isSavedCourt(court).saved===true?'Remove':'Save'}}
    </button>
  </ion-fab>

</ion-content>