page-view-court {
    .toolbar-background {
        background: #000000 !important;
    }
    #logo-navbar {
        width: 200px;
        margin-left: calc(50% - 100px);
    }
    #banner {
        width: 100%;
        height: 200px;
    }
    
}
