<ion-header>

  <ion-navbar>
    <ion-buttons start style="order: 1">
      <button ion-button icon-only>
        <ion-icon name="ios-person-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>PickleConnect</ion-title>
    <ion-buttons end style="min-width: 60px;">
      <button class="text-btn" ion-button clear>
        Filter
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <form action="." (ngSubmit)="onSearchInput()">
    <ion-searchbar (input)="onSearchInput()" placeholder="Search all players" [(ngModel)]="searchTerm" [formControl]="searchControl" [showCancelButton]="true"
      (ionCancel)="cancel()"></ion-searchbar>
  </form>


  <ion-list *ngIf="searching">
    <div class="flex-center" *ngIf="players.length < 1">
      <p>Sorry, no results matched your criteria</p>
    </div>
    <div *ngIf="players.length > 0">
      <ion-item>
        <p class="list-title">Results for {{searchTerm}} in Players</p>
      </ion-item>

      <ion-item *ngFor="let p of players" [hidden]="p._id===userID">
        <ion-avatar item-start>
          <img [src]="getUrlImage(p)" (error)="errorImage($event)" style="width: 70px; height: 70px;">
        </ion-avatar>
        <h2 text-wrap>{{p.fullName}}</h2>
        <p>Skill Level: {{p.rank}}</p>
        <p *ngIf="p.courts.length!==0">{{p.courts[0].name}}</p>
        <button [disabled]="disable" class="button-save" *ngIf="isFriend(p)" ion-button item-end [innerHtml]="sendRequestAllow(p) === true ? 'Add Friend': 'Cancel Request' "
          (click)="checkFriendRequest(p, $event)"></button>
      </ion-item>
    </div>
  </ion-list>

</ion-content>