<!-- <ion-header>
  <ion-navbar>
    <ion-buttons start style="order: 1">
      <button ion-button icon-only (click)="presentModal()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Account</ion-title>
    <ion-buttons end>
      <button icon-only (click)="logout()" ion-button>
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header> -->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button style="color: white;" (click)="toHome()">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        &nbsp;&nbsp;
        <!-- <ion-icon name="arrow-back"></ion-icon> -->
        Home
      </button>
    </ion-buttons>
    <img id="logo-navbar" src="./assets/imgs/logo-pickle.png">
  </ion-navbar>

</ion-header>

<ion-content>

  <div id="profile-datas">
    <div id="datas-prits">
      <img [src]="profileImg">
      <div id="datas">
        <div>
          <h2>PLAYER:</h2> <span>{{fullName}}</span>
        </div>
        <div>
          <h2>location:</h2> <span>{{address}}</span>
        </div>
        <div>
          <h2>level:</h2> <span>{{rank}}</span>
        </div>
        <div>
          <h2>email:</h2> <span>{{email}}</span>
        </div>
      </div>
    </div>
    <h3 (click)="presentModal()">
      <ion-icon name="create"></ion-icon> Manage Profile
    </h3>
  </div>

  <div class="sections">
    <div class="title" (click)="toViewFriends()">
      <h2>Friends</h2>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>

    <div class="body">
      <div class="item friend" *ngFor="let f of listFriend">
        <img [src]="f.photo" (click)="goToFriendProfile(f.id)" (error)="errorUserImage($event)">
        <div class="datas" (click)="goToFriendProfile(f.id)">
          <div>
            <h2>Player:</h2> <span>{{f.fullName}}</span>
          </div>
          <div *ngIf="f.showPosition">
            <h2>Location:</h2> <span>{{f.location}}</span>
          </div>
          <div>
            <h2>Level:</h2> <span>{{f.rank}}</span>
          </div>
        </div>
        <div class="go" (click)="deleteFriend(f)">
          REMOVE
        </div>
      </div>
    </div>

  </div>

  <div class="sections">
    <div class="title" (click)="toSavedCourts()">
      <h2>Saved Courts</h2>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>

    <div class="body">
      <div class="item court" *ngFor="let c of listCourts" (click)="toCourt(c)">
        <img [src]="c.photos ? c.photos[0] : ''" (error)="errorUserImage($event)">
        <div class="datas">
          <h2>{{c.name}}</h2>
          <h2>{{c.location}}</h2>
        </div>
        <!-- <div class="go" (click)="toCourt(c)">
          GO
        </div> -->
      </div>
    </div>

  </div>

  <div class="sections">
    <div class="title" (click)="toSavedTournments(true)">
      <h2>My Events</h2>
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>

    <div class="body">
      <div class="item event court" *ngFor="let c of listEvents">
        <img [src]="c.images ? transformUrl(c.images[0]) : ''" (click)="toEvent(c)" (error)="errorUserImage($event)">
        <div class="datas">
          <h2 (click)="toEvent(c)">{{c.name}}</h2>
          <h2>{{c.locationText}}</h2>
        </div>
        <div class="go" (click)="toEvent(c)">
          GO
        </div>
      </div>
    </div>

  </div>

  <ion-item class="full" (click)="createEvent()">
    Create Event
    <i class="fa fa-angle-right" item-end aria-hidden="true"></i>
  </ion-item>

  <ion-item class="full" (click)="toSavedTournments()">
    Saved Tournaments
    <i class="fa fa-angle-right" item-end aria-hidden="true"></i>
  </ion-item>

  <ion-list id="list-options">
    <ion-item>
      App Settings
    </ion-item>
    <ion-item>
      Privacy
    </ion-item>
    <ion-item>
      Contact Us
    </ion-item>
    <ion-item (click)="logout()">
      Sign Out
    </ion-item>
  </ion-list>

  <!-- <ion-grid>
    <ion-row>
      <ion-col col-12 id="buttons-actions">
        <ion-item>
          <button full ion-button (click)="toViewFriends()">
            View Friends
          </button>
        </ion-item>

        <ion-item>
          <button full ion-button (click)="createEvent()">
            Create Event
          </button>
        </ion-item>

        <ion-item>
          <button full ion-button (click)="shareApp()">
            Share PickleConnect
          </button>
        </ion-item>

        <ion-item>
          <button full ion-button (click)="toFutureTournments()">
            Future Tournaments
          </button>
        </ion-item>

        <ion-item>
          <button full ion-button (click)="toSavedTournments()">
            Saved Tournaments
          </button>
        </ion-item>

        <ion-item>
          <button full ion-button (click)="toSavedCourts()">
            Saved Courts
          </button>
        </ion-item>

        <ion-item *ngIf="validNear()">
          <button full ion-button (click)="toNearCourtsTournaments()">
            {{getNearEntityMessage()}}
          </button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-card"></ion-icon>Name
      </ion-label>
      <ion-input type="text" disabled [(ngModel)]="fullName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-mail-outline"></ion-icon> Email
      </ion-label>
      <ion-input type="text" disabled [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-pin-outline"></ion-icon> Zipcode
      </ion-label>
      <ion-input type="text" disabled [(ngModel)]="zipcode"></ion-input>
    </ion-item>
  </ion-list> -->

  <div id="map_tls_account" hidden></div>

</ion-content>