<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons start class="start-btn">
      <button ion-button icon-only (click)="presentModal()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Account</ion-title>

    <ion-buttons end class="end-btn">
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="ios-log-out"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header> -->


<ion-content>

  <ion-grid>
    <ion-row padding>
      <ion-col col-12>
        <div class="image-holder">
          <img src="../../assets/imgs/default-user.png" alt="">
        </div>
        <p class="title-name">{{fullName}}</p>
        <p class="location">
          <ion-icon name="ios-pin"></ion-icon> Your location
        </p>
        <p class="location">
          <ion-icon name="ios-at"></ion-icon>{{email}}
        </p>
        <p class="description"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ut eveniet ea </p>

      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col col-12>

        <ion-segment [(ngModel)]="segment">
          <ion-segment-button value="friends">
            <ion-icon name="ios-people-outline"></ion-icon> <span>Friends</span>
          </ion-segment-button>
          <ion-segment-button value="places">
            <ion-icon name="ios-pin-outline"></ion-icon> <span>Places</span>
          </ion-segment-button>
          <ion-segment-button value="events">
            <ion-icon name="ios-calendar-outline"></ion-icon> <span>Events</span>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <div [ngSwitch]="segment" class="segments">
        <div col-12 *ngSwitchCase="'events'">
          <h3 class="segment-title">Upcoming events</h3>
          <ion-item class="friend-item" *ngFor="let tour of listEvents">
            <h2>{{tour.title}}</h2>
            <p>{{tour.address}}</p>
          </ion-item>
        </div>
        <div col-12 *ngSwitchCase="'places'">
          <h3 class="segment-title">Places</h3>
          <ion-item class="friend-item" *ngFor="let court of listCourts">
            <h2>{{court.name}}</h2>
            <p>{{court.location}}</p>
          </ion-item>
        </div>
        <div col-12 *ngSwitchCase="'friends'">
          <h3 class="segment-title">Friends</h3>
          <ion-item class="friend-item" *ngFor="let friend of listFriend">{{friend.fullName}}</ion-item>
        </div>
      </div>


    </ion-row>

    <ion-row>
      <ion-col col-12 id="buttons-actions">
        <ion-item>
          <button ion-button (click)="toViewFriends()">
            View Friends
          </button>
        </ion-item>

        <ion-item>
          <button ion-button (click)="shareApp()">
            Share PickleConnect
          </button>
        </ion-item>

        <ion-item>
          <button ion-button (click)="toFutureTournments()">
            Future Tournaments
          </button>
        </ion-item>

        <ion-item>
          <button ion-button (click)="toSavedTournments()">
            Saved Tournaments
          </button>
        </ion-item>

        <ion-item>
          <button ion-button (click)="toSavedCourts()">
            Saved Courts
          </button>
        </ion-item>

        <ion-item *ngIf="validNear()">
          <button ion-button (click)="toNearCourtsTournaments()">
            {{getNearEntityMessage()}}
          </button>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- <ion-list>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-card"></ion-icon>Name
      </ion-label>
      <ion-input type="text" disabled [(ngModel)]="fullName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-mail-outline"></ion-icon> Email
      </ion-label>
      <ion-input type="text" disabled [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-icon name="ios-pin-outline"></ion-icon> Zipcode
      </ion-label>
      <ion-input type="text" disabled [(ngModel)]="zipcode"></ion-input>
    </ion-item>
  </ion-list> -->



</ion-content>