page-account {
    .back-button {
        display: none !important;
    }
    #logo-navbar {
        width: 200px;
        margin-left: calc(50% - 100px);
    }
    .toolbar-background,
    .scroll-content {
        background: #000000 !important;
    }
    #profile-datas {
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
        #datas-prits {
            display: flex;
            width: 100%;
            flex-basis: 100%;
            align-items: center;
            flex-wrap: nowrap;
            img {
                width: 80px;
                flex-basis: 80px;
                height: 80px;
                border-radius: 1px;
            }
            #datas {
                padding-left: 10px;
                width: calc(100% - 100px);
                flex-basis: calc(100% - 100px);
                div {
                    width: 100%;
                    flex-basis: 100%;
                    display: flex;
                    // height: 1.4rem;
                    margin-bottom: 4px;
                }
                div h2,
                div span {
                    color: white;
                    line-height: 1.4rem;
                    // height: 1.3rem;
                }
                div h2 {
                    font-size: 1.4rem;
                    margin: 0;
                    text-transform: uppercase;
                    width: 72px;
                    flex-basis: 72px;
                }
                div span {
                    padding-left: 10px;
                    font-size: 1.3rem;
                }
            }
        }
        h3 {
            width: 100%;
            flex-basis: 100%;
            color: rgba(255, 255, 255, 0.4);
            font-weight: normal;
            font-size: 1.2rem;
            text-align: center;
        }
    }
    .sections,
    .full {
        margin-bottom: 5px;
    }
    .sections {
        padding: 20px;
        background-color: #292929;
        .title {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            h2,
            i {
                color: #cccccc;
                font-size: 1.6rem;
                margin: 0;
            }
            i {
                font-size: 1.7rem;
            }
        }
        .body {
            .item {
                display: flex;
                margin-bottom: 15px;
                padding-left: 10px;
                img {
                    width: 80px;
                    flex-basis: 80px;
                    height: 80px;
                    margin-right: 20px;
                }
                h2 {
                    font-size: 1.6rem;
                    flex-basis: 72px;
                    margin: 0;
                }
                h2,
                span {
                    color: #cccccc;
                }
            }
            .item.friend .datas div {
                display: flex;
                margin-bottom: 3px;
                h2 {
                    width: 72px;
                }
            }
            .item.friend .go {
                padding: 0 8px;
                color: #cccccc;
                font-size: 0.8rem;
                border: 1px solid #cccccc;
                width: 50px;
                text-align: center;
                height: 20px;
                line-height: 20px;
            }
            .item.court {
                align-items: center;
            }
            .item.court .datas {
                width: calc(100% - 160px);
                flex-basis: calc(100% - 160px);
            }
            .item.court .datas h2:first-child {
                text-decoration: underline;
            }
            .item.court .datas h2 {
                font-size: 1.5rem;
                padding-right: 5px;
            }
            .item.court .go {
                padding: 0 8px;
                color: #cccccc;
                font-size: 1.5rem;
                border: 1px solid #cccccc;
                width: 60px;
                text-align: center;
                height: 30px;
                line-height: 30px;
            }
            .item.event img {
                object-fit: cover;
            }
        }
    }
    .full {
        background-color: #292929;
        .item-inner {
            border-bottom-width: 0 !important;
            color: #cccccc;
            ion-label {
                margin-top: 0;
                margin-bottom: 0;
                button {
                    background-color: transparent;
                    box-shadow: 0 0 0 transparent;
                }
            }
        }
    }
    #list-options {
        ion-item {
            background-color: transparent;
            .item-inner {
                border-bottom-width: 0 !important;
                color: #cccccc;
            }
        }
    }
}