<ion-header>

  <ion-navbar>
    <ion-title>{{isEvents===false?'Saved Tournaments':'Saved Events'}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let tour of tournaments" >
      <ion-thumbnail *ngIf="tour.tournament.imgs" item-start (click)="toView(tour.tournament)">
        <img [src]="transformUrl(tour.tournament.imgs[0])" (error)="errorImage($event)">
      </ion-thumbnail>
      {{tour.tournament.title}}
      <ion-icon name="share" (click)="shareE(tour.tournament)" item-end ></ion-icon>
      <!-- <span (click)="shareE(tour.tournament)" item-end>Share</span> -->
    </ion-item>
  </ion-list>

</ion-content>