page-create-event {
    .toolbar-background {
        background-color: black !important;
    }
    ion-header {
        .toolbar-title,
        button {
            color: #bea805 !important;
        }
    }
    button.buttons {
        background-color: black !important;
        color: #bea805 !important;
    }
    .buttons {
        button {
            background-color: black !important;
            color: #bea805 !important;
        }
    }
}